<h1>Usuários</h1>

<table>
  <thead>
    <th>ID Usuário</th>
    <th>Usuário</th>
    <th>Email</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <p>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= link_to (user.admin_profile? ? 'To_Standard' : 'To_Admin'), toggle_user_admin_path(id: user.id) %></td>
        </p>
      </tr>
    <% end %>
  </tbody>
</table>
